.container {
    background-color: #131313;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0%;
  }
  
  /* .header {
    background-color: #ffffff;
    grid-area: header;
  } */
  
  /* .content {
    display: flex;
    background-color: #131313;
    align-content: center;
    grid-area: content;
  } */
  
  .box {
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
  }
  
  .safeeats {
    font-size: 4rem;
  }
  
  /* .subtext {
    margin-top: 10%;
    padding: 0px;
    font-size: 1.5rem;
  } */
  
  .picture {
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    padding: 5%;
  }